/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

/* Style for the logo image */
#logo {
    width: 150px;   /* Set a width for the image */
    margin-top: 20px;
}

/* Style for the heading */
h1 {
    color: #333;
    padding-top: 10px;
    font-size: 2.5rem;
}

/* Style for the paragraph */
p {
    color: #666;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Add some spacing around the content */
body {
    padding: 20px;
}

a{
    color: pink;
}